#todo {
  overflow: auto;
  #container-form-todo {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin-top: 5%;
    margin-bottom: 10%;
    justify-content: space-around;
    .form {
      width: 80%;
      margin-right: 5%;
    }
    .button-container {
      float: 2;
      button {
        &.btn-floating {
          background-color: #1e88e5;
          &:hover {
            background-color: #1565c0;
          }
          &:focus {
            background-color: #1565c0;
          }
          &:disabled {
            background-color: #90caf9 !important;
          }
        }
      }
    }
  }

  #list-todos {
    height: 39%;

    .title {
      font-weight: bold;
    }
    .container-task  {
      height: 81%;
      overflow: auto;
    }
  }

}
