#app-content {
    height: 100%;
    width:100%;
    display: flex;
    flex-flow: column;

    #main-content {
        flex: 2;
        overflow: auto;
    }

    #header {
        height: 15%;
        width: 100%;
    }

    #footer {
        height: 15%;
        width:100%; 
    }
}

