<div id="header-container">
    <div class="image-container flex-vertical-center">
        <div class="full-width">
            <img [src]="imgPath"/>
        </div>
    </div>
    <div class="title-container flex-vertical-center">
        <div class="full-width center">
            <span class="title">{{constant.appName}}</span>
        </div>
    </div>
    <div class="social-logo-container flex-vertical-center">
        <div class="full-width center">
            <a class="social-icon" href="https://twitter.com/sfeir" ><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/25906?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A25906%2Cidx%3A2-1-4%2CtarId%3A1444833810772%2Ctas%3Asfeir"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>